<!DOCTYPE html>
<html>
  <head>
    <title>Form Page</title>
  </head>
  <body>
    <form action="/submit" method="post">
      Enter your username: <input type="text" name="username" /> Enter your
      rollno: <input type="text" name="rollno" /> Enter your email:
      <input type="text" name="email" />
      Academic Year:
      <select name="year">
        <option value="1">I</option>
        <option value="2">II</option>
        <option value="3">III</option>
        <option value="4">IV</option>
      </select>
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
